<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" />
    <title>Camera</title>
  </head>

  <body>
    <div>
      <img id="image-stream" src="" />
    </div>
  </body>
</html>

<script>
  const image_elem = document.getElementById("image-stream");
  console.log("ws://" + window.location.hostname)
  const chatSocket = new WebSocket("ws://" + window.location.hostname + ':' + '5000');

  chatSocket.onopen = function (e) {
    console.error("Chat opened");
  };

  chatSocket.onmessage = function (event) {
    console.log(event.data)
    image_elem.src = event.data
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };
</script>
